[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/stb/stb"]
	path = dep/stb/stb
	url = https://github.com/nothings/stb
